{% extends "layout.html" %} {% block body %}
<a href="/addfight">Fight?</a>
<hr />
{% for fight in fights %}
<div class="fight">
  <article class="message">
    <div class="message-header">
      <div class="message-title">
        {{ fight.name }}
      </div>
      <div class="icons">
        {{ fight.timestamp }}
        <a href="{{url_for('edit_fight', fightid=fight.id)}}"
          ><i class="far fa-edit" title="edit"></i
        ></a>
        <a href="{{url_for('delete_fight', fightid=fight.id)}}"
          ><i class="fas fa-backspace" title="delete"></i
        ></a>
      </div>
    </div>
    <div class="message-body">
      {{ fight.description }}
    </div>
  </article>
</div>
{% endfor %} {% endblock %}
