{% extends "layout.html" %} {% block body %}
<a href="/addfight">Fight?</a>
<hr />
<div class='fight-container'>
{% for fight in fights|sort(reverse=True,attribute='timestamp') %}
  <div class="message">
    <div class="message-header">
      <span class="message-title">
        {{ fight.name }}
      </span>
      <div class="dash-icons">
        {{ fight.timestamp }}
        {% if user.id is eq (fight.user_id) %}
          <a href="{{url_for('edit_fight', fightid=fight.id)}}">
            <i class="far fa-edit" title="edit"></i>
          </a>
          <a href="{{url_for('delete_fight', fightid=fight.id)}}">
            <i class="far fa-minus-square"></i>
          </a>
        {% else %}
          <p>Match check goes here</p>
        {% endif %}
      </div>
    </div>
    <div class="message-body">
      {{ fight.description }}
    </div>
  </article>
</div>
{% endfor %} 

{% endblock %}
