{% extends "layout.html" %} {% block body %}
<form method="POST" action="" class="form edit-workout">
  {{ form.hidden_tag() }}
  <div class="field edit-fight-name">
    {{ form.name.label }}
    {{ form.name(class_="input") }}
  </div>
  <div class="field edit-fight-desc">
    {{ form.description.label }}
    {{ form.description(class_="textarea") }}
  </div>
  <div class="field">
    {{ form.location.label }}
    {{ form.location(class_="textarea") }}
  </div>
  <div class="field">
    {{ form.submit(class_="button") }}
  </div>
</form>
<div id="map"></div>
<div id="infowindow-content">
  <img src="" width="16" height="16" id="place-icon" />
  <span id="place-name" class="title"></span><br />
  <span id="place-address"></span>
</div>
{% endblock %}
