{% extends "layout.html" %} {% block body %}
<form method="POST" action="" novalidate enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="field">
    {{ form.email.label }}
    {{ form.email(class_="textarea") }}
  </div>

  <div class="field">
    {{ form.username.label }}
    {{ form.username(class_="textarea") }}
  </div>

  <div class="field">
    {{ form.height.label }}
    {{ form.height(class_="textarea") }}
  </div>

  <div class="field">
    {{ form.weight.label }}
    {{ form.weight(class_="textarea") }}
  </div>

  <div class="field">
    {{ form.style.label }}
    {{ form.style(class_="select") }}
  </div>

  <div class="field">
    {{ form.about.label }}
    {{ form.about(class_='textarea')}}
  </div>

  <div class="field">
      {{ form.picture.label }}
      {{ form.picture(class_='form-control-file')}}
      {% if form.picture.errors %}
          {% for error in form.picture.errors %}
              <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
      {% endif %}
  </div>
  {{ form.submit(class_="button") }}
</form>
{% endblock %}
