<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Grapplr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/static/style.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" /> -->
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <div id="bs-overlay">
      <h1 class="bs-call">
        Please visit us on a mobile device or download the App
      </h1>
    </div>

    {% block body %} {% endblock%} {% if current_user.is_authenticated %}
    <!-- Hi {{ current_user.username }}! -->
    <footer class="page-footer">
      <ul class="row">
        <li class="col s4">
          <a target="_top" href="{{ url_for('profile') }}">
            <i class="far fa-user-circle"></i>
          </a>
        </li>
        <li class="col s4">
          <a target="_top" href="{{ url_for('dashboard') }}">
            <i class="far fa-list-alt"></i>
          </a>
        </li>
        <li class="col s4">
          <a target="_top" href="{{ url_for('swipe') }}">
            <i class="far fa-hand-pointer"></i>
          </a>
        </li>
      </ul>
    </footer>
    {% endif %}
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </body>
</html>
