{% extends "layout.html" %} {% block body %}
<div class="login-container">
  <form method="POST" action="" class="form login">
    <h1>Log-In</h1>
    <hr />
    {{ form.hidden_tag() }}
    {% for field in form %}
    <div class="field">
      {% if field.errors %} {% for error in field.errors %}
      <div class="notification error">{{ error }}</div>
      {% endfor %} {% endif %}
      {{ field(placeholder=field.label.text) }}
    </div>
    {% endfor %}
    <button type="submit" id="submit" class="btn">Login!</button>
  </form>
</div>

<!-- <h1>-Or-</h1>
<div
  class="fb-login-button"
  data-size="large"
  data-button-type="login_with"
  data-auto-logout-link="false"
  data-use-continue-as="true"
></div> -->
<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->
{% endblock %}
