{% extends "layout.html" %} {% block body %} {% for user in users %} {% if
user.id is eq (current_user.id) %}
<!-- <div class="warning"></div>
  <h1>No more users</h1>
</div> -->
{% else %}
<div class="user-card">
  <div class="user-img"></div>
  <div class="user-stats">
    <div class="user-header">
      <p class="headline">"{{ user.style }}"</p>
      <p class="username">{{ user.username }}</p>
    </div>
    <p class="headline"></p>
    <p class="stats"><span> Height:</span> {{ user.height }}<span>in</span></p>
    <p class="stats"><span> Weight:</span> {{ user.weight }}<span>lbs</span></p>
    <p class="stats"><span> Style:</span> {{ user.style }}</p>
  </div>
</div>
{% endif %} {% endfor %} {% endblock %}
