{% extends "layout.html" %} {% block body %}
<div class="row">
  <h3 class="user-name">{{ username }}</h3>
  <img class="prof-img-a" src=/static/profile_pics/{{ users.image_file }}
  />

  <!-- add user id to match array -->
  <p>Challanged: {{ user.challanged_id }} users.</p>
  <p>Challanged by: {{ user.challanger_id }} users.</p>
  <!-- do nothing or add to pass array -->
</div>

<div class="stats-container">
  <p class="stats"><span> Height:</span> {{ users.height }}</p>
  <p class="stats"><span> Weight:</span> {{ users.weight }}</p>
  <p class="stats"><span> Style:</span> {{ users.style }}</p>
  <!-- <p class="stats"><span> About me:</span></p> -->
  <p class="stats"><span> Join Date:</span> {{ users.joined_at }}</p>
</div>
<div class="about-me">
  <p class="about me"><span>About me:</span> {{ users.about }}</p>
</div>

{% endblock %}
