{% extends "layout.html" %} {% block body %}
<div class="row">
  <h3 class="user-name">{{ username }}</h3>
  <img class="prof-img-a" src=/static/profile_pics/{{ users.image_file }}
  />

  <!-- add user id to match array -->
  <!-- do nothing or add to pass array -->
  <!-- re add if statement to switch buttions if user has been challanged -->
  <a
    href="{{ url_for('follow', username=user.username) }}"
    class="btn btn-default option col s6"
    >Fight</a
  >
  <!--  -->
  <a
    href="{{ url_for('unfollow', username=user.username) }}"
    class="btn btn-default option col s6"
    >Withdraw</a
  >
  <!-- <a href="{{ url_for('followers', username=user.username) }}"> -->
  <div class="col s6">
    Challangers: <span class="">{{ users.followers }}</span>
  </div>
  <!-- </a> -->
  <!-- <a href="{{ url_for('followed_by', username=user.username) }}"> -->
  <div class="col s6">
    Challanged: <span class="">{{ users.followed }}</span>
  </div>
  <!-- </a> -->
</div>
{% for follow in follows %} {% if follows.follower_id is not eq (user.id) %}
<p>X</p>
{{ follow.followed_id }}
{% else %}
<p>O</p>
{% endif %} {% endfor %}
<!-- <span>{{ follows.count() }}</span> -->

<div class="stats-container">
  <p class="stats"><span> Height:</span> {{ users.height }}</p>
  <p class="stats"><span> Weight:</span> {{ users.weight }}</p>
  <p class="stats"><span> Style:</span> {{ users.style }}</p>
  <!-- <p class="stats"><span> About me:</span></p> -->
  <p class="stats"><span> Join Date:</span> {{ users.joined_at }}</p>
</div>
<div class="about-me">
  <p class="about me"><span>About me:</span> {{ users.about }}</p>
</div>

{% endblock %}
